html {
    font-family: open-sans, sans-serif, courier-std, monospace;
}

header {
    color: white;
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    width: 100%;
    height: 265px;
    display: inline-block;


}

.top-header {
    margin-top: 110px;
    margin-bottom: 42px;

}

.myButton2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa', GradientType=0);
    background-color: #14B9D5;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: open-sans;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    padding: 17px 26px;
    text-decoration: none;
    margin-left: 7px;
    border-radius: 4px;

}

.myButton2:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9', GradientType=0);
    background-color: #0688fa;
}

.myButton2:active {
    position: relative;
    top: 1px;
}


.myButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352', GradientType=0);
    background-color: #89CA62;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    padding: 17px 26px;
    text-decoration: none;
    margin-right: 7px;
    border-radius: 4px;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a', GradientType=0);
    background-color: #72b352;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.navbar {
    background: #1D2124;
    height: content-box;
    width: 100%;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 53px


}

.navbar-logo {
    display: inline-block;


}

.logo-png {
    background: #1A1D20;
    border: 1px solid #1A1D20;
    padding: 11px;
    left: 0;
    position: absolute;

}


.Architect {
    font-family: open-sans;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    position: relative;
    display: inline-block;
    line-height: 40px;
    color: white;
    font-weight: 700;
    margin-left: 53px;

}

.flexbox-1 {
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -315px;
    min-width: 870px;
    height: 387px;
    background-size: 100%;
    background-image: url("img/html_css_homework_homework6_img_header-bg.jpeg");
}

.menu {
    flex: 1;
    width: 600px;
    display: inline-block;


}

.menu-list {
    display: inline-block;

}

.menu-item {
    display: inline-block;
    padding: 0px 15px;
}

.menu-item:hover {
    background: #1A1D20;
}

.button {
    text-decoration: none;
    color: white;

}

.search {
    background: #171A1C;
    width: 55px;
    height: 45px;
    padding: 3px;
}

.Most-popular-posts-title {
    font-size: 22px;
    color: #18B4CF;
    text-align: center;
    margin-bottom: 39px;
    font-weight: bold;
    text-transform: uppercase;
}

.Most-popular-posts {
    display: flex;
    width: 100%;
    flex-flow: column wrap;

}

.Most-popular-posts-content {

    display: flex;
    width: 1200px;
    margin: 0 auto;
    max-height: 850px;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;

}

.most-popular-posts-content-item {
    width: 360px;
    background-color: #F9F7F7;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 16px;

}


.most-popular-posts-content-item-text {
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    justify-items: center;
    text-align: center;
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-weight: bold;

    font-style: normal;
    color: #353A3D;
}

.gridpart {

    margin-top: 980px;
    width: 100%;
    height: 588px;
    background: no-repeat;
    font-family: open-sans, sans-serif, courier-std, monospace;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position-y: -180px;
    background-image: url("img/html_css_homework_homework6_img_parallax-bg.jpeg");
}

.our-most-popular-clients {
    display: grid;
    margin: 0 auto;
    width: 881px;
    grid-template-areas: "h2 h2 h2 h2" "hr hr hr hr" "z d f a";

}

.z {
    grid-area: z;
    margin-right: 25px;
}

.d {
    grid-area: d;
    margin-left: 25px;
}

.f {
    grid-area: f;
}

.a {
    grid-area: a;
}

.h2 {
    grid-area: h2;
    padding-top: 140px;
    padding-bottom: 41px;
    text-transform: uppercase;
    font-size: 32px;
    margin: 0 auto;
    color: beige;
}

.hr {
    grid-area: hr;
    color: #18B4CF;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 60px;
}

.Shape1copy {
    margin: 0 auto;

}

.toprated {
    height: 190px;
    margin: 0 auto;
    max-width: 1900px;
    min-width: 1309px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "toprated toprated toprated toprated toprated toprated toprated" "d1 d2 d3 d4 d5 d6 d7";
}

.d1 {
    grid-area: d1;
}

.d2 {
    grid-area: d2;
}

.d3 {
    grid-area: d3;
}

.d4 {
    grid-area: d4;
}

.d5 {
    grid-area: d5;
}

.d6 {
    grid-area: d6;
}

.d7 {
    grid-area: d7;
}

.toprated {
    grid-area: toprated;
    height: 120px;
}

.toprated > img {
    width: 170px;

}

.sam-grid {
    margin: 0 auto;
    width: 1180px;
    margin-bottom: 70px;
}

.sam-grid-title {
    margin-top: 60px;
}

.grid-container > * {
}

.grid-container {
    display: grid;
    grid-gap: 15px;
    height: 1400px;
    grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "post1 post1 post1 post2" "post3 post3 post4 post4" "post5 post5 post6 post6" "post7 post8 post8 post8";
}

.post1 {
    grid-area: post1;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
    background: #F9F7F7;

}

.post-width-normaize {
    width: 857px;
    margin-right: 10px;
    background: #F9F7F7;
}

.post1-title {
    font-size: 18px;
    font-family: open-sans, sans-serif, courier-std, monospace;
    margin-top: 49px;
    font-weight: bold;
}

.post1-about {
    margin-top: 22px;
}

.left-post1 {
    position: absolute;
}

.right-post1 {


    width: 325px;
    text-align: center;
    position: absolute;
    margin-left: 512px; /* Отступ снизу и слева */
}

.post2 {
    grid-area: post2;
    background: #F9F7F7;


}

.post2-title {
    text-align: center;
    margin: 14px 0 auto;
    font-size: 18px;
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-weight: bold;

}

.post3 {
    grid-area: post3;
    background-color: #F9F7F7;

}

.post3-title {
    float: right;
    font-size: 18px;
    padding-top: 20px;
    font-family: open-sans, sans-serif, courier-std, monospace;
    margin-right: 22px;
    font-weight: bold;
}

.post3-about {
    display: inline-block;
    text-align: right;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 22px;

}

.post4 {
    grid-area: post4;
    background-color: #F9F7F7;

}

.post4-title {
    float: right;
    font-size: 18px;
    margin-right: 20px;
    padding-top: 20px;
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-weight: bold;
}

.post4-about {
    display: inline-block;
    text-align: right;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 22px;
}

.post5 {
    grid-area: post5;
    background-color: #F9F7F7;

}

.post5-title {
    float: right;
    font-size: 18px;
    padding-top: 20px;
    margin-right: 22px;
    font-weight: bold;

    font-family: open-sans, sans-serif, courier-std, monospace;
}

.post5-about {
    display: inline-block;
    text-align: right;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 22px;

}

.post6 {
    grid-area: post6;
    background-color: #F9F7F7;

}


.post6-title {
    float: right;
    margin-right: 22px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    font-family: open-sans, sans-serif, courier-std, monospace;
}

.post6-about {
    margin-right: 22px;

    display: inline-block;
    text-align: right;
    padding-top: 22px;
    padding-bottom: 22px;
}

.post7 {
    grid-area: post7;
    text-align: center;
    height: 259px;
    width: 100%;
    background-color: #F9F7F7;
}

.post8 {
    grid-area: post8;
    background-color: #F9F7F7;
    height: 259px;


}

.top-rated {
    margin-top: 43px;
    margin-bottom: 38px;
    font-size: 27px;
    line-height: 45px;
    justify-items: center;
    text-align: center;
    font-weight: bold;
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-weight: 400;
    font-style: normal;
    color: #18B4CF;
}

.grid-footer {
    display: grid;
    height: 80px;
    width: 100%;
    position: relative;
    justify-items: center;
    background: #1D2124;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "erdgeshoes erdbere";
}

.erdgeshoes {
    grid-area: erdgeshoes;
    font-size: 13px;
    position: absolute;
    text-align: center;
    right: 0;
    justify-items: center;
    padding: 34px;
    color: #FFFFFF;
}

.erdbere {
    grid-area: erdbere;
    padding: 29px;


}

#go-top {
    position: fixed;
    padding-bottom: 25px;
    bottom: 25px;
    right: 10px;
    width: 50px;
    height: 20px;
}

#go-top:hover {
}